
.title{
    -fx-font-size: 26px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
}

.listView{
    -fx-focus-color: whitesmoke;    
    -fx-faint-focus-color: whitesmoke;
    -fx-border-color: whitesmoke;
}

.kick-btn{
    -fx-background-color: #405361;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-family: System;
    -fx-font-weight: bold;   
}

.kick-btn:hover{
    -fx-cursor:hand;
    -fx-background-color: #4A6070;
}